<div class="container">
   
<h2>Logga in</h2>
   <div class="row center-align">
   
    <form action="/users/login" method="post">
      <div class="row ">
       
        <div class="input-field  col s6">
          <input name="username" placeholder="Användarnamn" required="" type="text" class="validate">
          <label>Användarnamn</label>
        </div>
        <div class="input-field col s6">
          <input name="password" placeholder="Lösenord" required="" type="password" class="validate"> 
          <label>Lösenord</label>
        </div>
     
      </div>
      
   <div class="row right-align">
     <button class="btn waves-effect waves-light" type="submit" name="action">Skicka
    <i class="material-icons right">send</i>
  </button>
    
       
       </div>
    </form>
  </div>
      
       
       <div class="row center-align">
    
        
         <a class="waves-effect waves-light btn red darken-1" href="/auth/google"> Logga in med Google</a>
         
        
         
      
         
         
         </div>
         
 <div class="row center-align">
     
        
         <a class="waves-effect waves-light btn  blue darken-3" href="/auth/facebook"> Logga in med Facebook</a>
         
       
         
         
         
         
         </div>
         
         
          <div class="row center-align">
       
     
         <a class="waves-effect waves-light btn light-blue" href="/auth/twitter"> Logga in med Twitter</a>
         
     
         
       
         
         
         </div>


</div>