     <div class="row">
        <div class="col-lg-3"></div>
        <h2 class="page-header mt-2">Registrera</h2>
        <div class="col-lg-3"></div>
        </div>
   
    <form action="/users/register" method="post">
       
       
       
          <div class="row">
          <div class="col-lg-3"></div>
           
            <div class="col-lg-3">
                <label>Användarnamn</label> <input class="form-control" name="username" placeholder="Användarnamn" required="" type="text">
                </div>
           
     
      
        
               <div class="form-group col-lg-3">
           
                <label>E-post</label> <input class="form-control" name="email" placeholder="E-post" required="" type="email">
             
            </div>
          
                 <div class="col-lg-3"></div>
            </div>
          
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="form-group col-lg-3">
                <label>Förnamn</label> <input class="form-control" name="firstname" placeholder="Förnamn" required="" type="text">
            </div>
            <div class="form-group col-lg-3">
                <label>Efternamn</label> <input class="form-control" name="lastname" placeholder="Efternamn" required="" type="text">
            </div>
            <div class="col-lg-3"></div>
        </div>
    
     
  
        <div class="row">
            <div class="form-group col-lg-3"></div>
            <div class="form-group col-lg-3">
                <label>Lösenord</label> <input class="form-control" name="password" placeholder="Lösenord" required="" type="password">
            </div>
            <div class="form-group col-lg-3">
                <label>Lösenord</label> <input class="form-control" name="password2" placeholder="Lösenord" required="" type="password">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8"></div>
            <div class="col-lg-1">
                <button class="btn btn-default" type="submit">Skicka</button>
            </div>
            <div class="clo-lg-3"></div>
        </div>
    </form>
